#ПОдключаем api для работы с пулом адресов
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
#Прописываем мвободный диапозон в локальной сети
spec:
  addresses:
  - 192.168.0.72-192.168.0.75
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
