---
- name: Install MetalLB - Step 1
  hosts: kubernetes_master
  become: yes
  tasks:
    - name: Apply MetalLB manifests
      command:
        cmd: kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.14.4/config/manifests/metallb-native.yaml
      register: metallb_install

    - name: Display installation result
      debug:
        msg: "MetalLB manifests applied successfully"
      when: metallb_install.rc == 0

    - name: Wait 150 seconds before edit manifest
      ansible.builtin.pause:
        seconds: 150

    - name: Delete MetalLB validating webhook configuration
      command:
        cmd: kubectl delete validatingwebhookconfiguration metallb-webhook-configuration
      register: delete_webhook
      ignore_errors: yes

    - name: Apply MetalLB IPAddressPool and L2Advertisement configuration
      shell: |
        cat <<EOF | kubectl apply -f -
        apiVersion: metallb.io/v1beta1
        kind: IPAddressPool
        metadata:
          name: first-pool
          namespace: metallb-system
        spec:
          addresses:
          - 192.168.0.215-192.168.0.220
        ---
        apiVersion: metallb.io/v1beta1
        kind: L2Advertisement
        metadata:
          name: l2-advertisement
          namespace: metallb-system
        EOF
      args:
        executable: /bin/bash
      register: metallb_config

    - name: Display configuration result
      debug:
        msg: "MetalLB configuration applied successfully"
      when: metallb_config.rc == 0
